/* M */
@media only screen and (max-width:1400px) {
  .section-item {
    display: block !important;
  }
}

/* S */
@media only screen and (max-width:1100px) {
  nav {
    display: none;
  }

  .flex-with-sidebar {
    display: block !important;
    padding: 0 5% !important;
  }

  aside {
    display: unset !important;
    position: unset !important;
  }
}

section:nth-of-type(2) h2 > span {
  color: var(--color-accent-orange);
}
section:nth-of-type(3) h2 > span {
  color: var(--color-accent-red);
}
section:nth-of-type(4) h2 > span {
  color: var(--color-accent-purple);
}

#subtitle {
  font-size: var(--fs-1);
  margin: 0;
}

#quote {
  color: var(--color-dark5);
  font-style: italic;
  /* reduces layout shifting */
  min-height: 2em;
}

nav > ol {
  list-style: none;

  li > a {
    padding: 4px 0;
    display: flex;
    align-items: center;
    text-decoration: none;

    span.nav-line {
      width: 30px;
      height: 2px;
      background: currentColor;
      transform: scaleX(0.3);
      transform-origin: left;
      transition: transform 1.2s ease-out;
    }
    span.nav-text {
      transition: transform 1s ease-out;
      color: var(--color-text);
    }
  }

  .a-selected:not(:hover) {
    color: var(--color-blue) !important;
  }

  li > a.a-selected,
  li > a:hover {
    span.nav-line {
      transform: scaleX(1);
    }
    span.nav-text {
      transform: translateX(10px);
    }
  }
}

#social-media {
  list-style: none;
  padding: 0;

  display: flex;
  flex-direction: row;
  gap: 8px;

  /* reduces layout shifting */
  min-height: var(--fs-2);

  i {
    color: var(--color-text);
    font-size: var(--fs-2);

    &:hover {
      color: var(--color-primary-hover);
    }
  }
}

main {
  display: flex;
  flex: 1;
  justify-content: center;
  padding-bottom: 2em;

  div {
    max-width: 1000px;
  }
}

section {
  padding-top: 16px;

  * > hr {
    margin: 0;
    color: var(--color-text) !important;
    border-style: solid;
  }

  .section-item {
    display: flex;
    flex-direction: row;
    gap: 16px;

    div:first-child {
      flex-shrink: 0;
      width: 225px;
    }
  }

  article {
    margin: 1em 0 !important;
  }
}

details {
  cursor: pointer;
  padding-top: .25em;
  color: var(--color-dark5);

  summary {
    user-select: none;
  }

  ul {
    overflow: hidden;
    height: 0;
    transition: height .5s ease;
  }
}

details[open] > ul {
  height: auto;
}

.year {
  color: var(--color-dark5);
  padding-top: 2px;
}

.flex-with-sidebar {
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

aside {
  display: flex;
  flex-shrink: 0;
  min-width: 450px;

  height: 100dvh;

  position: sticky;
  top: 0;

  .sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 2em 0;
  }
}

footer {
  padding-top: 20px;
}

