:root {
  /* Modular scales: https://cieden.com/book/sub-atomic/typography/different-type-scale-types */
  --scale: 1.414;
  /* Enlarges size on small viewport */
  --fs-0: 16px;

  /* Scale --x scales down and -x scales up */
  --fs--1: calc(var(--fs-0) / var(--scale));
  --fs--2: calc(var(--fs--1) / var(--scale));
  --fs-1: calc(var(--fs-0) * var(--scale));
  --fs-2: calc(var(--fs-1) * var(--scale));
  --fs-3: calc(var(--fs-2) * var(--scale));
  --fs-4: calc(var(--fs-3) * var(--scale));
  --fs-5: calc(var(--fs-4) * var(--scale));
  --fs-6: calc(var(--fs-5) * var(--scale));

  /* Colors */
  /* Backgrounds */
  --color-bg: #1a1b26;
  --color-bg-dark: #16161e;
  --color-bg-dark1: #0C0E14;
  --color-bg-float: #16161e;
  --color-bg-highlight: #292e42;
  --color-bg-popup: #16161e;
  --color-bg-search: #3d59a1;
  --color-bg-sidebar: #16161e;
  --color-bg-statusline: #16161e;
  --color-bg-visual: #283457;

  /* Basic colors */
  --color-black: #15161e;
  --color-blue: #7aa2f7;
  --color-blue0: #3d59a1;
  --color-blue1: #2ac3de;
  --color-blue2: #0db9d7;
  --color-blue5: #89ddff;
  --color-blue6: #b4f9f8;
  --color-blue7: #394b70;
  --color-border: #15161e;
  --color-border-highlight: #27a1b9;
  --color-comment: #565f89;
  --color-cyan: #7dcfff;
  --color-dark3: #545c7e;
  --color-dark5: #737aa2;

  /* Diff colors */
  --color-diff-add: #243e4a;
  --color-diff-change: #1f2231;
  --color-diff-delete: #4a272f;
  --color-diff-text: #394b70;

  /* Text / Foreground */
  --color-error: #db4b4b;
  --color-fg: #c0caf5;
  --color-fg-dark: #a9b1d6;
  /* --color-fg-dark: #737aa2; --color-dark3 */
  --color-fg-float: #c0caf5;
  --color-fg-gutter: #3b4261;
  --color-fg-sidebar: #a9b1d6;

  /* Git colors */
  --color-git-add: #449dab;
  --color-git-change: #6183bb;
  --color-git-delete: #914c54;
  --color-git-ignore: #545c7e;

  /* Accents */
  --color-accent-green: #9ece6a;
  --color-accent-green1: #73daca;
  --color-accent-green2: #41a6b5;
  --color-accent-hint: #1abc9c;
  --color-accent-info: #0db9d7;
  --color-accent-magenta: #bb9af7;
  --color-accent-magenta2: #ff007c;
  --color-accent-orange: #ff9e64;
  --color-accent-purple: #9d7cd8;
  --color-accent-red: #f7768e;
  --color-accent-red1: #db4b4b;
  --color-accent-teal: #1abc9c;
  --color-accent-yellow: #e0af68;
  --color-accent-warning: #e0af68;
  --color-accent-todo: #7aa2f7;

  /* Rainbow (misc accent sequence) */
  --color-rainbow-1: #7aa2f7;
  --color-rainbow-2: #e0af68;
  --color-rainbow-3: #9ece6a;
  --color-rainbow-4: #1abc9c;
  --color-rainbow-5: #bb9af7;
  --color-rainbow-6: #9d7cd8;
  --color-rainbow-7: #ff9e64;
  --color-rainbow-8: #f7768e;

  /* Terminal colors */
  --color-terminal-black: #414868;
  --color-terminal-black-bright: #414868;
  --color-terminal-blue: #7aa2f7;
  --color-terminal-blue-bright: #8db0ff;
  --color-terminal-cyan: #7dcfff;
  --color-terminal-cyan-bright: #a4daff;
  --color-terminal-green: #9ece6a;
  --color-terminal-green-bright: #9fe044;
  --color-terminal-magenta: #bb9af7;
  --color-terminal-magenta-bright: #c7a9ff;
  --color-terminal-red: #f7768e;
  --color-terminal-red-bright: #ff899d;
  --color-terminal-white: #a9b1d6;
  --color-terminal-white-bright: #c0caf5;
  --color-terminal-yellow: #e0af68;
  --color-terminal-yellow-bright: #faba4a;

  /* Custom colors */
  --color-accent-green1-alpha: #73daca36;
  --color-blue-alpha: #7aa2f7c4;
  --color-bg-highlight-alpha: #292e42c4;

  interpolate-size: allow-keywords;
}

/* Only use regular font to reduce loading time */
@font-face {
  font-family: Proto;
  src: url(assets/0xProto/0xProtoNerdFont-Regular_subset.woff2);
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

/* Base font size set on HTML to influence all other relative sizes */
html {
  font-family: Proto, monospace;
  font-size: var(--fs-0);
  color: var(--color-fg);
  background-color: var(--color-bg);
}

h1 { font-size: var(--fs-3); }
h2 { font-size: var(--fs-2); }
h3 { font-size: var(--fs-1); }

body, h1, h2, h3 {
  margin: 0;
}

/* Reduces content shifting on load of page */
.section,
.article {
  content-visibility: auto;
  contain-intrinsic-size: 300px;
}

.chip-list,
.link-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  padding: unset;
  margin: 0;

  li {
    border-radius: 30px;
    padding: 0.25rem 0.5rem;
  }
}

.chip-list > li {
  color: var(--color-accent-green1);
  background-color: var(--color-accent-green1-alpha);
}

.link-list {
  margin: 1em 0;

  li {
    border-style: solid;
    border-width: thin;
    border-color: var(--color-fg-dark);

    a {
      color: var(--color-fg-dark);
    }

    &:hover {
      border-color: var(--color-blue-alpha);

      a {
        color: var(--color-blue-alpha);
      }
    }
  }
}

.highlight {
  color: white;
  font-weight: bold;
}

a.link {
  font-weight: bold;
  color: var(--color-blue);
}

a {
  text-decoration: none;
  color: var(--color-fg);

  &:hover {
    color: var(--color-blue-alpha) !important;
  }
}

.button {
  margin: 8px 0;
  display: flex;

  a {
    border: none;
    padding: 8px;
    border-radius: 10px;
    font-size: var(--fs-1);
    font-weight: bold;
    color: var(--color-blue);
  }

}

.background {
  background-color: var(--color-bg-highlight);

  &:hover {
    background-color: var(--color-bg-highlight-alpha);
  }
}

footer {
  font-style: italic;
  color: var(--color-dark5);
}

